ul {
  list-style-type: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#logo {
  height: 100%;
}

.space_available_from, .space_available_to {
  display: inline;
}

.caption .btn {
  display: block;
}

.panel img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.panel .panel-heading {
  margin-bottom: 15px;
}

.panel a.btn {
  display: block;
}

.center form {
  display: inline-block;
}

#space_description {
  display: block;
}

#space_description .thumbnail {
  max-width: 291px;
}

#space_description .thumbnail img {
  max-height: 215px;
}