ul {
  list-style-type: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#logo {
  height: 100%;
}

.space_available_from, .space_available_to {
  display: inline;
}

.caption .btn {
  display: block;
}

.panel img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.panel .panel-heading {
  margin-bottom: 15px;
}

.panel a.btn {
  display: block;
}

.center form {
  display: inline-block;
}

#space_description {
  margin-top: -20px;
  text-align: center;
}

#space_description .thumbnail {
  max-width: 291px;
}

#space_description .thumbnail img {
  max-height: 215px;
}

#calendar {
  width: 216px;
  margin: auto;
}

#calendar .ui-datepicker {
    width: 216px;
  }

#calendar .ui-state-default {
  background: #007fff;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-color: #004fff;
}

#calendar .ui-state-default:hover {
  background: #04e762;
  border-color: #04b762;
  transition: .3s;
}

#calendar .ui-datepicker-header {
  background: #007fff;
  color: #fff;
}

#calendar .ui-icon-circle-triangle-w {
  color: #004fff;
}

#calendar .ui-state-active {
  background: #04e762;
  border-color: #04b762;
}
