<h1>Requests</h1>

<div id='requests_container'>
  <div id='requests_made'>
    <h2>Requests I've made</h2>

    <ul>
      <li>.</li>
    </ul>
  </div>

  <div id='requests_sent'>
    <h2>Requests I've received</h2>

    <ul>
      <li>.</li>
    </ul>
  </div>
</div>
