<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <% if current_user %>
      <p id="welcome_message">Welcome <%= current_user.email %>!</p>
      <a href="/spaces/new"><button>List a Space</button></a>
    <% end %>
  
    <ul id="navigation">
      <% if current_user %>
        <li><a href="">Spaces</a></li>
        <li><a href="">Requests</a></li>
        <li>
          <form action='/sessions' method='post'>
            <input type='hidden' name='_method' value='delete' />
            <button type="submit">Sign out</button>
          </form>
        </li> 
      <% else %>
        <li><a href="/">Home</a></li>
        <li><a href="">Login</a></li>
      <% end %> 
    </ul>
    
    
  </header>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul class="errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= yield %>
</body>
</html>
