<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
  <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header id='navigation'>

    <div class="container">
      <div class="row clearfix">

      <p id="logo" class="pull-left btn"><a href="/">Team 3's BNB</a></p>

        <ul class="nav nav-pills pull-right">
          <% if current_user %>
            <li class="btn-link acitve">
              <a href="/requests">Requests
                <span class = "badge pull-right"><%= current_user.requests_received.count %></span>
              </a>
            </li>
            <li class='btn-link'><a href="/spaces">Spaces</a></li>
            <li class='btn-link'><a href="/spaces/new">List a Space</a></li>
            <li class='btn-link'>
              <form action="/sessions" method="post" >
                <input type="hidden" name="_method" value="delete">
                <button type='submit' class="btn btn-link" style="padding: 9px">Sign out</button>
              </form>
            </li>
          <% else %>
            <li class='btn-link'><a href="/users/new" class="btn">Sign Up</a></li>
            <% if not_sign_in_page %>
              <li class='btn-link' style="padding: 1px"><a href="/sessions/new">Sign In</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <% if current_user %>
          <button type ="button" class="btn btn-default btn-xs pull-right">
            <span class = "glyphicon glyphicon-user"></span>
             <%= current_user.email %>
          </button>
        <% end %>
      </div>
      <div class="row text-center">
        <% if flash[:errors] && !flash[:errors].empty? %>
          <div class="col-sm-4"></div>
          <ul class="errors col-sm-4">
            <% flash[:errors].each do |error| %>
            <li class="alert alert-danger" style="padding:2px; margin:0;"><%= error %></li>
            <% end %>
          </ul>
          <div class="col-sm-4"></div>
        <% end %>
      </div>
    </div>

  </header>



  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
