<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header id='navigation'>

    <% if current_user %>

      <p id="welcome_message">Welcome <%= current_user.email %>!</p>

      <form action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete' />
        <button type="submit">Sign out</button>
      </form>

      <ul>
        <li><a href="/requests">Requests</a></li>
        <li><a href="/spaces">Spaces</a></li>
        <li><a href="/spaces/new">List a Space</a></li>
      </ul>

    <% else %>

      <form method='get' action='/sessions/new'>
        <button class='sign_in_button' type='submit'>Sign in</button>
      </form>

    <% end %>

  </header>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul class="errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= yield %>
</body>
</html>
