<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
</head>
<body>
  <% if current_user %>
  Welcome <%= current_user.email %>!
  <% end %>
  <% if flash[:errors] && !flash[:errors].empty? %>
  <ul class="errors">
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
  <%= yield %>
</body>
</html>
