<!DOCTYPE html>
<html>
<head>
  <title>Makers BnB</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% if current_user %>
    Welcome <%= current_user.email %>!

    <form action='/sessions' method='post'>
      <input type='hidden' name='_method' value='delete' />
      <button type="submit">Sign out</button>
    </form>
    <a href="/spaces/new"><button>List a Space</button></a>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul class="errors">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= yield %>
</body>
</html>
